@use "./styles/partials/variables" as *;
@use "./styles/partials/global" as *;
@use "./styles/partials/mixins" as *;
@use "./styles/partials/fonts" as *;

.app {
  font-family: Roboto;
}
.nav-item {
  font-weight: 700;
}

.navbar {
  &__top {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
  }

  &__left {
    position: fixed;
    z-index: 1;
    top: 4rem;

    &-container {
      background-color: white;
      width: 4.05rem;
      height: 100vh;
      border: 1px solid #e4e4e4;
      border-top: none;
      position: fixed;
      padding-bottom: 2rem;
      top: 0;
    }
  }
}
.wrapper {
  background: #000;
  opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  &--hide {
    display: none;
  }
}
