@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;

.modal {
  border-radius: 0.75rem;
  z-index: 10;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  background-color: $shutterstock-white;
  &__info {
    padding: 1rem;
  }
  &__image {
    width: 30rem;
    height: 30rem;

    &-container {
      display: flex;
      flex-direction: column;
      width: 30rem;
    }
  }
  &__score {
    width: 100%;
  }
  &--display {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
  }
  &--hide {
    display: none;
  }
}
.close {
  height: 1rem;
  border-style: none;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.wrapper {
  background: #000;
  opacity: 0.35;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  &--hide {
    display: none;
  }
}
