// background colors
$shutterstock-white: #ffff;
$shutterstock-lightgrey: #f3f4f5;
//state changes
$shutterstock-grey: #767676;
$shutterstock-black: #212121;
//logo colors
$shutterstock-red: #f54336;
