@use "../styles/partials/variables" as *;
@use "../styles/partials/global" as *;
@use "../styles/partials/mixins" as *;
@use "../styles/partials/fonts" as *;

.modal {
  border-radius: 0.75rem;
  z-index: 10;
  display: flex;
  flex-direction: column;
  background-color: $shutterstock-white;

  &__container {
    display: flex;
  }
  &__info {
    padding: 1rem;
    width: 35%;
  }
  &__image {
    width: 100%;
    height: 30rem;
    
    &-container{
      display: flex;
      flex-direction: column;
      width: 50rem;
    }
  }
  &__score {
    width: 100%;
  }
  &--display {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &--hide {
    display: none;
  }
  
  &__footer {
    background-color: #222834;
    width: 100%;
    display: flex;
    justify-content: flex-end;

    &-icons {
      width: 30%;
      padding: 1rem;

    }
  }
}
.close {
  height: 1rem;
  border-style: none;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.wrapper {
  background: #000;
  opacity: 0.35;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  &--hide {
    display: none;
  }
}


