@use "../styles/partials/variables" as *;
@use "../styles/partials/global" as *;
@use "../styles/partials/mixins" as *;
@use "../styles/partials/fonts" as *;

.modal {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  &__image {
    width: 30rem;
    height: 30rem;
    z-index: 3;
    position: relative;
    top: -10rem;
  }
  &--display {
    position: absolute;
    z-index: 2;
    top: 0;
    width: 65%;
    align-self: center;
    top: 12rem;
    height: 19rem;
    right: 15rem;
  }
  &--hide {
    display: none;
  }
}
