.modal {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.modal--display {
  background-color: $White;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  top: 0;

  @include tablet {
    position: absolute;
    width: 65%;
    align-self: center;
    right: 9rem;
    top: 12rem;
    height: 19rem;
  }

  @include desktop {
    right: 15rem;
  }
}

.modal--hide {
  display: none;
}
