@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;

.inspiration {
  width: 100vw;
  display: flex;
  flex-direction: column;
  margin-left: 4rem;
  &__hero {
    width: 100vw;
    z-index: -2;
    margin-left: 4rem;
  }

  &__gallery {
    padding: 1rem 2rem 1rem 4rem;
    display: flex;
    flex-wrap: wrap;
    &-heading {
      width: 100%;
    }
  }

  &__image {
    height: 10rem;
    width: 20rem;
    margin: 1rem;
    border-radius: 0.5rem;
  }
  &__weekly-banner {
    width: 95%;
  }
  &__image-wrapper {
    position: relative;
  }
}
.footer {
  width: 95%;
}
.popup-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  background-color: rgba($color: #000000, $alpha: 0.35);
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
  border-style: none;
  position: absolute;
  top: 10%;
  right: 10%;

  &--image {
    height: 2.5rem;
    width: 2.5rem;
    z-index: 4;
  }
}
